# Node modules
Samples/P5NodeJSSample/node_modules/

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# temp files
*.opensdf
.DS_Store
*.vcxproj.user
*.sdf
*.*~
*.swp
*.obj
Thumbs.db

# bad VS files
*.ipch
*.aps
*.sdf
*.suo
*.vcxproj.user

# log files
*.log

# build directories
KinectTransport/Debug
KinectTransport/Release
KinectTransport/ipch
Samples/CinderSample/vc2012/Debug
Samples/CinderSample/vc2012/Release
DeployTool/Debug
DeployTool/Release
DeployTool/ipch

# Unity generated
Samples/UnitySample/Temp
Samples/UnitySample/Obj
Samples/UnitySample/UnityGenerated
Samples/UnitySample/Library

# assets